@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:wght@200;300;400&display=swap");

/* font-family: 'Playfair Display', serif;
font-family: 'Plus Jakarta Sans', sans-serif; 
darkgreen: #00584b
darkblue: #356B89
neongreen: #D8E267
purple: #F6D8F7
lightblue: #ceeeff
lightgreen: #d6fccfå
orange: #fc9d59
background: #F5FFF2
*/

:root {
  --darkgreen: #00584b;
  --darkblue: #356b89;
  --neongreen: #d8e267;
  --purple: #f6d8f7;
  --lightblue: #ceeeff;
  --lightgreen: #d6fccf;
  --orange: #fc9d59;
  --background: #f5fff2;
  --header-outer-height: 150px;
  --header-inner-height: 60px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}

body {
  background-color: var(--background);
  font-family: "Playfair Display", serif !important;
}

.no-padding-top {
  padding-top: 0rem !important;
  position: sticky !important;
}

.no-margin {
  margin: 0rem !important;
}

.add-shadow {
  box-shadow: var(--darkgreen) 0px 0px 10px 0px;
  padding: 0 !important;
  height: var(--header-inner-height) !important;
}

.portfolio-link {
  overflow-wrap: anywhere;
}

.fade-image {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

@media screen and (max-width: 700px) {
  .text-container {
    margin: 1rem 2rem !important;
  }
}

@media screen and (max-width: 900px) {
  .about-logo {
    margin: 1rem auto !important;
  }
  .footer {
    min-height: 313px !important;
  }
  .contact {
    max-height: 500px !important;
  }
  .contact-square {
    max-height: 500px !important;
  }
  .graphics {
    padding: 2rem !important;
  }
}

@media screen and (max-width: 500px) {
  .contact-link {
    font-size: 30px !important;
    margin: 2rem !important;
  }
  .contact {
    max-height: 400px !important;
  }
  .contact-square {
    max-height: 400px !important;
  }
}

@media screen and (max-width: 321px) {
  .contact-link {
    font-size: 20px !important;
  }
}

@media screen and (min-height: 800px) {
  .square-side {
    max-height: 600px !important;
  }
}

@media screen and (min-height: 900px) {
  .square-side {
    max-height: 700px !important;
  }
}

@media screen and (max-width: 450px) {
  .portfolio-link {
    font-size: 30px !important;
  }
  .portfolio-subheader {
    font-size: 16px !important;
  }
  .portfolio-subtext {
    font-size: 14px !important;
  }
}
